<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../socket.io/socket.io.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/3264d39625.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="mainPageTop">
        <div id="mainLogo"><a href="/"><img src="../images/mainlogo.png" alt="" /></a></div>
        <ul id="mainPageNav">
          <li><a href="/community_hub">COMMUNITY</a></li>
          <!-- <li><a href="/minigame">MINI GAME</a></li> -->
        </ul>
        <ul id="mainPageSign">

        </ul>
        <ul id="mainPageLogo">
          <li>
            <a href="https://github.com/TeTedo/KeyboardWarrior.git"
              ><img
                class="mainPageLogo_githubLogo"
                src="http://rajlab.org/icons/github_white.png"
                alt="github"
            /></a>
          </li>
          <li>
            <a
              href="https://www.notion.so/Keyboard-Warrior-888a144aa79f437e8f726910c42617a8"
              ><img
                class="mainPageLogo_notionLogo"
                src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png"
                alt="notion"
            /></a>
          </li>
        </ul>
      </div>
  
      <!-- <div id="mainPageSearch">
        <div id="mainPageSearch_whole">
          <input type="text" id="mainPageSearch_searchBar" />
          <span>검색</span>
        </div>
      </div> -->
      <!-- 여기까지 탑 공통 부분 -->
  
      <!-- 사이드바 -->
      <div id="sideBar">
        <div id="sideBar_top">
          <div id="sideBar_top_sideBarBtn">
            <i class="fa-solid fa-arrow-left-long"></i>
          </div>
          <div id="sideBar_top_up">
            <ul>
              <li>팔로워</li>
              <li><%= follower%></li>
            </ul>
            <ul>
              <li>팔로잉</li>
              <li><%=following%></li>
            </ul>
          </div>
          <div id="sideBar_top_down">
            <div id="sideBar_top_down_left">
              <div><%= user_id%></div>
              <div><%= nick_name%></div>
            </div>
            <div id="sideBar_top_down_right">
              <div>
                <a href="/join/modify/enterance"
                  ><i class="fa-solid fa-gear"></i
                ></a>
                <a href=""><i class="fa-solid fa-bell"></i></a>
                <a href="#"><i class="fa-solid fa-comments"></i></a>
                <a href="/logout"
                  ><i class="fa-solid fa-right-from-bracket"></i
                ></a>
              </div>
              <a href="/posting">글쓰기</a>
            </div>
          </div>
          <div id="sideBar_top_profileImg">
            <a href="/profile/<%=user_id%>"><img src="<%= profile_img%>" alt="" /></a>
          </div>
        </div>
        <!-- 채팅창 추가부분 -->
        <div class="sideBar_Bottom_chat">
          <div class="sideBar_Bottom_chatRoom" data-who="" style="display: none">
            <div class="sideBar_Bottom_chatRoom_preView" >
              <img src="" alt="" />
              <div>
                <div class="chatNickName_preview"></div>
                <div class="chatMessage"></div>
              </div>
            </div>
            <div class="sideBar_Bottom_chatRoom_main" >
              <div class="sideBar_Bottom_chatRoom_top">
                <span class="chatNickName">
                  <i class="fa-regular fa-envelope"></i></i><img src="" alt="" />
                </span>
                <span><i class="fa-solid fa-minus"></i>&nbsp;</span>
              </div>
              <div class="sideBar_Bottom_chatRoom_middle"></div>
              <div id="chatForm">
                <input type="text" class="sendMSG" id=""/>
                <i class="fa-regular fa-comment-dots"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sideBarOpenBtn">
        <i class="fa-solid fa-arrow-right-long"></i>
      </div>
      <!-- 채팅창 추가부분 -->
      <!-- 사이드바 끝 -->
      <div id="main">
        <div class="userProfile">
          <div class="userProfile_img">
            <img src="<%=writerData.profile_img%>" alt="">
          </div>
          <div class="userProfile_info">
            <div class="userProfile_info_nickName"><%= writerData.nick_name%></div>
            <div class="userProfile_info_follow">
              follower : <span><%= writerData.follower%></span> following : <span><%= writerData.following%></span>
            </div>
          </div>
          <div class="userProfile_icon">
            <i class="fa-solid fa-user-plus"></i>
            <i class="fa-solid fa-user-check"></i>
           <i class="fa-solid fa-message"></i>
          </div>
        </div>
        <div id="mainContent">
          <div id="mainContentWrap">
            <!-- 포스팅구역 -->

            <!-- 포스팅구역 -->
          </div>
        </div>
      </div>
      
</body>
<script src="profile.js"></script>
<script>
  //포스트 관련 script
  function getPostData(){
    let allPost = "<%=JSON.stringify(postArr)%>";
    allPost = allPost
    .replaceAll("&#34;", '"')
    .replaceAll("&amp;", "&")
    .replaceAll("&lt;", "<")
    .replaceAll("&gt;", ">")
    .replaceAll('""', '"')
    .replaceAll("\\", "/");
    
    allPost = JSON.parse(allPost);
    
    const mainContentWrap = document.querySelector('#mainContentWrap')
    allPost.forEach((el,index)=>{
      
      //해쉬태그 있는 경우 communitypost
      if(el.game_name){
         const post = `
         <div class="mainPost">
          <div><div></div><div></div></div>
          <div>
            <a href="/post/${el.game_name}/${el.id}"><div class="mainPost_post">
            </div></a>
            <div class="mainPost_tag">${el.game_name.toUpperCase()}</div>
          </div>
          <div><div></div><div></div></div>
        </div>
        `;
        mainContentWrap.innerHTML += post
        //이미지 없을때
        if(el.image1 == "../null"){
          mainContentWrap.querySelectorAll('.mainPost_post')[index].innerHTML = `
          ${el.text}
          `
        }
        // 이미지 있을때
        else{
          mainContentWrap.querySelectorAll('.mainPost_post')[index].innerHTML = `<img src="${el.image1}" alt="">`
        }
      }
      //해쉬태그 없는 경우 -> mainpost
      else{
        const post = `
        <div class="mainPost">
          <div><div></div><div></div></div>
          <div>
          <a href="/posts/${el.id}"><div class="mainPost_post"></div></a>
            <div class="mainPost_tag">MAIN</div>
          </div>
          <div><div></div><div></div></div>
        </div>
        `;
        mainContentWrap.innerHTML += post
        //이미지 없을때
        if(el.image1 == "../null"){
          mainContentWrap.querySelectorAll('.mainPost_post')[index].innerHTML = el.text
        }
        // 이미지 있을때
        else{
          mainContentWrap.querySelectorAll('.mainPost_post')[index].innerHTML = `<img src="${el.image1}" alt="">`
        }
      }
    })
  }
  getPostData()

  //팔로우 관련
  function follow (){
    // 내 프로필창 들어갔을때 팔로우, 채팅창 안보이게
    if("<%= user_id%>" == "<%= writerData.user_id%>"){
      document.querySelector('.userProfile_icon').style.display = "none"
    }

    const followBtn = document.querySelector(".fa-user-plus");
    const unFollowBtn = document.querySelector(".fa-user-check");
    // 팔로잉 되어있으면
    if("<%= follow%>"){
      unFollowBtn.style.display = "block"
      followBtn.style.display = "none"
    }
    // 안되있으면
    else{
      unFollowBtn.style.display = "none"
      followBtn.style.display = "block"
    }
    followBtn.onclick = function(){
      $.ajax({
                url: "/follow",
                method: "post",
                data: {
                  follow: true,
                  follower: "<%= user_id%>",
                  following: "<%= writerData.user_id%>",
                },
              });
              followBtn.style.display = "none";
              unFollowBtn.style.display = "block";
    }
    unFollowBtn.onclick = function(){
      if (confirm("팔로우를 취소하시겠습니까?")) {
                $.ajax({
                  url: "/follow",
                  method: "post",
                  data: {
                    follow: false,
                    follower: "<%= user_id%>",
                    following: "<%= writerData.user_id%>",
                  },
                });
                followBtn.style.display = "block";
                unFollowBtn.style.display = "none";
              }
    }

  }
  follow()
</script>
<script>
  //채팅관련 script
  function chatDataBase(callback) {
      //데이터베이스에 있는 채팅 창 만들어주기
      const chatTag = document.querySelector(".sideBar_Bottom_chat");
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      let chatLog = "<%=JSON.stringify(chatObj)%>";
      chatLog = chatLog.replaceAll("&#34;", '"');
      chatLog = chatLog.replaceAll("\\", "/");
      chatLog = JSON.parse(chatLog);
      if (!chatLog) return;
      chatLog.forEach((el, index) => {
        //만들어져있는 채팅방 있는지 확인
        // 상대방 아이디 받아오기
        const opponent = el.speaker || el.listener;
        let checkRoom = false;
        //만들어져있으면 checkRoom에 true주기
        chatRoomTag.forEach((elem) => {
          if (elem.dataset.who == opponent) {
            return (checkRoom = true);
          }
        });
        //만들어져있으면 return
        if (checkRoom) return;

        // 안만들어져있으면 만들기
        chatTag.innerHTML += `
            <div class="sideBar_Bottom_chatRoom" data-who="${opponent}">
              <div class="sideBar_Bottom_chatRoom_preView" style="display: flex;">
                <img src="${el.profile_img}" alt="" />
                <div>
                  <div class="chatNickName_preview">${el.nick_name}</div>
                  <div class="chatMessage"></div>
                </div>
                <div class="preViewAlarm"></div>
              </div>
              <div class="sideBar_Bottom_chatRoom_main" style="display: none;">
                <div class="sideBar_Bottom_chatRoom_top">
                  <span class="chatNickName">
                    <i class="fa-regular fa-envelope"></i></i><img src="${el.profile_img}" alt="" />${el.nick_name}
                  </span>
                  <span><i class="fa-solid fa-minus"></i>&nbsp;</span>
                </div>
                <div class="sideBar_Bottom_chatRoom_middle"></div>
                <div id="chatForm">
                  <input type="text" class="sendMSG" id="${el.nick_name}"/>
                  <i class="fa-regular fa-comment-dots"></i>
                </div>
              </div>
            </div>
            `;
        //태그 받아온거 초기화
        chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      });

      //만들어진 채팅방에 콜백으로 값 넣기
      callback(chatLog);
    }

    function chatDataCallBack(chatLog) {
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      // 내 프로필사진
      const profile_img = "<%= profile_img%>";
      chatLog.forEach((el) => {
        //시간
        let time = new Date(el.createdAt);
        if (time.getMinutes() < 10) {
          time = `${time.getHours()}:0${time.getMinutes()}`;
        } else {
          time = `${time.getHours()}:${time.getMinutes()}`;
        }
        const opponent = el.speaker || el.listener;
        chatRoomTag.forEach((elem) => {
          // 상대방과의 채팅방 찾기
          if (elem.dataset.who == opponent) {
            //상대방이 speaker일떄
            if (opponent == el.speaker) {
              elem.querySelector(".chatMessage").innerText = el.message;
              elem.querySelector(
                ".sideBar_Bottom_chatRoom_middle"
              ).innerHTML += `
            <div class="fullchatMessage leftChat">
              <img src="${el.profile_img}" alt="" />
              <div>${el.message}</div>
              <div class="chatTimeStamp">${time}</div>
            </div>
            `;
            }
            //상대방이 listener 일때
            else {
              elem.querySelector(".chatMessage").innerText = el.message;
              elem.querySelector(
                ".sideBar_Bottom_chatRoom_middle"
              ).innerHTML += `
            <div class="fullchatMessage rightChat">
              <img src="${profile_img}" alt="" />
              <div>${el.message}</div>
              <div class="chatTimeStamp">${time}</div>
            </div>
            `;
            }
          }
        });
      });
    }
    function chat() {
      const chatTag = document.querySelector(".sideBar_Bottom_chat");
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");

      //채팅이미지 누르면 채팅창 나오게 하기
      document.querySelector(".fa-comments").onclick = function () {
        //채팅창 여닫이
        chatTag.classList.toggle("chatOn");
        // 열때 알람 안보이게하기
        if (chatTag.classList.contains("chatOn")) {
          // display none으로 하면 위치가 바뀜
          document.querySelector(
            ".alarm > span:nth-child(2)"
          ).style.visibility = "hidden";
          document.querySelector(".alarm > span:nth-child(2)").innerText = 0;
        }
      };
      // 채팅관련
      chatRoomTag.forEach((el, index) => {
        //채팅창 클릭시 채팅창 커지고 데이터 담기
        el.querySelector(".sideBar_Bottom_chatRoom_preView").onclick =
          function () {
            el.querySelector(".sideBar_Bottom_chatRoom_preView").style.display =
              "none";
            el.querySelector(".sideBar_Bottom_chatRoom_main").style.display =
              "block";
            el.querySelector(".sendMSG").focus();
            // 스크롤바 젤 아래로 내리기
            el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
              el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollHeight;
          };
        // - 버튼 누르면 미리보기창 띄우기
        el.querySelector(".fa-minus").onclick = function () {
          el.querySelector(".sideBar_Bottom_chatRoom_preView").style.display =
            "flex";
          el.querySelector(".sideBar_Bottom_chatRoom_main").style.display =
            "none";
        };
      });

      const chatBtn = document.querySelector(".fa-message");
      const writerName = "<%=writerData.nick_name%>";
      const writer = "<%=writerData.user_id%>";
      const writerImg = "<%=writerData.profile_img%>";

      chatBtn.onclick = function () {
        sideBar.style.transform = "translate(0px)";
        chatTag.classList.add("chatOn");
        // 기존 채팅창이 있는지 없는지 확인
        chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
        let checkRoomBool = false;
        chatRoomTag.forEach((elem) => {
          const checkRoom = elem.querySelector(".chatNickName").innerText;
          const checkRoomPreview = elem.querySelector(
            ".chatNickName_preview"
          ).innerText;
          if (checkRoom == writerName || checkRoomPreview == writerName) {
            // 게시글작성자와 기존있던 채팅방 닉네임 일치하면 거기로 focus하고 sideBar 열어주기
            const messageInput = elem.querySelector("#chatForm > input");
            elem.querySelector(
              ".sideBar_Bottom_chatRoom_preView"
            ).style.display = "none";
            elem.querySelector(".sideBar_Bottom_chatRoom_main").style.display =
              "block";
            messageInput.focus();
            checkRoomBool = true;
            //스크롤바 맨 아래로 내리기
            elem.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
            elem.querySelector(
                ".sideBar_Bottom_chatRoom_middle"
              ).scrollHeight;
          }
        });
        //기존 채팅방 없을시
        if (!checkRoomBool) {
          chatTag.innerHTML += `
            <div class="sideBar_Bottom_chatRoom" data-who="${writer}">
              <div class="sideBar_Bottom_chatRoom_preView" style="display: none;">
                <img src="${writerImg}" alt="" />
                <div>
                  <div class="chatNickName_preview">${writerName}</div>
                  <div class="chatMessage"></div>
                </div>
                <div class="preViewAlarm"></div>
              </div>
              <div class="sideBar_Bottom_chatRoom_main" style="display: block;">
                <div class="sideBar_Bottom_chatRoom_top">
                  <span class="chatNickName">
                    <i class="fa-regular fa-envelope"></i></i><img src="${writerImg}" alt="" />${writerName}
                  </span>
                  <span><i class="fa-solid fa-minus"></i>&nbsp;</span>
                </div>
                <div class="sideBar_Bottom_chatRoom_middle"></div>
                <div id="chatForm">
                  <input type="text" class="sendMSG" id="${writerName}"/>
                  <i class="fa-regular fa-comment-dots"></i>
                </div>
              </div>
            </div>
            `;
          // 미리보기 지우고 메인채팅창 띄우기
          // document.querySelector();
          // 입력창에 focus해주기
          const temp = document.querySelector(`#${writerName}`);
          temp.focus();

          // 받아온 tag 초기화위해서 함수 실행
          chat();
          // 엔터키로 메시지보내기
          enterSend();
        }
      };
    }
    function enterSend() {
      const socket = io.connect();
      const chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      chatRoomTag.forEach((el) => {
        el.onkeydown = function (e) {
          el.querySelector(".sendMSG").onkeyup = function (e) {
            if (e.keyCode == 13) {
              if (el.querySelector(".sendMSG").value != "") {
                // 서버로 누가 누구한테 어떤걸 보냈는지 전송
                const speaker = "<%= user_id%>";
                const listener = el.dataset.who;
                const message = el.querySelector(".sendMSG").value;
                socket.emit("chat", speaker, listener, message);
                el.querySelector(".sendMSG").value = "";
                el.querySelector(".sendMSG").focus();
              }
            }
          };
        };
      });
    }

    function socketChat() {
      //채팅창 관련 함수
      const socket = io.connect();
      // 메시지 보내기
      // 개인 방에 넣어주기
      socket.emit("login", "<%=user_id%>");
      const sideBar = document.querySelector("#sideBar");
      //클릭하면 메시지보내기
      sideBar.onclick = function (e) {
        if (e.target.classList.contains("fa-comment-dots")) {
          // 제이쿼리로 부모를 잡음 => 부모요소 전체를 잡기 위함
          const parent = $(e.target).parents()[2];
          if (parent.querySelector(".sendMSG").value != "") {
            // 서버로 누가 누구한테 어떤걸 보냈는지 전송
            const speaker = "<%= user_id%>";
            const listener = parent.dataset.who;
            const message = parent.querySelector(".sendMSG").value;
            socket.emit("chat", speaker, listener, message);
            parent.querySelector(".sendMSG").value = "";
            parent.querySelector(".sendMSG").focus();

            //스크롤바 맨 아래로 내리기
            parent.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
              parent.querySelector(
                ".sideBar_Bottom_chatRoom_middle"
              ).scrollHeight;
          }
        }
      };

      //엔터키로 메시지 보내기
      enterSend();
      //받는사람일때 받는곳
      socket.on("toListener", toListener);
      //내가 보낸사람일때 서버로부터 받는곳
      socket.on("toSpeaker", toSpeaker);
    }

    // socket 메시지 받는 함수
    function toListener(
      speaker,
      listener,
      message,
      speakerImg,
      speakerNickName,time
    ) {
      speakerImg = "../" + speakerImg;
      //채팅 알람 숫자 올리기
      const alarm = document.querySelector(".alarm > span:nth-child(2)");
      alarm.innerText = Number(alarm.innerText) + 1;
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      if (chatRoomTag.length == 0) {
        document.querySelector(".sideBar_Bottom_chat").innerHTML += `
            <div class="sideBar_Bottom_chatRoom" data-who="${speaker}">
              <div class="sideBar_Bottom_chatRoom_preView">
                <img src="${speakerImg}" alt="" />
                <div>
                  <div class="chatNickName_preview">${speakerNickName}</div>
                  <div class="chatMessage">${message}</div>
                </div>
                <div class="preViewAlarm"></div>
              </div>
              <div class="sideBar_Bottom_chatRoom_main">
                <div class="sideBar_Bottom_chatRoom_top">
                  <span class="chatNickName">
                    <i class="fa-regular fa-envelope"></i></i><img src="${speakerImg}" alt="" />${speakerNickName}
                  </span>
                  <span><i class="fa-solid fa-minus"></i>&nbsp;</span>
                </div>
                <div class="sideBar_Bottom_chatRoom_middle">
                  <div class="fullchatMessage leftChat">
                    <img src="${speakerImg}"" alt="" />
                    <div>${message}</div>
                    <div class="chatTimeStamp">${time}</div>
                  </div>
                </div>
                <div id="chatForm">
                  <input type="text" class="sendMSG" id="${speakerNickName}"/>
                  <i class="fa-regular fa-comment-dots"></i>
                </div>
              </div>
            </div>
            `;

        // 태그 초기화
        chat();
        enterSend();
      } else {
        //채팅방 있는지 확인
        let whoArr = [];
        chatRoomTag.forEach((el) => {
          whoArr.push(el.dataset.who);
        });
        chatRoomTag.forEach((el) => {
          //채팅방 있을떄
          new Promise((resolve, reject) => {
            if (el.dataset.who == speaker) {
              el.querySelector(".sideBar_Bottom_chatRoom_middle").innerHTML += `
          <div class="fullchatMessage leftChat">
            <img src="${speakerImg}"" alt="" />
            <div>${message}</div>
            <div class="chatTimeStamp">${time}</div>
          </div>
          `;
              //스크롤바 맨 아래로 내리기
              el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
                el.querySelector(
                  ".sideBar_Bottom_chatRoom_middle"
                ).scrollHeight;

              // 미리보기창에 마지막문자 띄우기
              el.querySelector(".chatMessage").innerText = message;
              return;
            } else {
              resolve("채팅방 없음");
            }
          }).then(() => {
            //채팅방 없을때
            if (whoArr.indexOf(speaker) == -1) {
              document.querySelector(".sideBar_Bottom_chat").innerHTML += `
          <div class="sideBar_Bottom_chatRoom" data-who="${speaker}">
            <div class="sideBar_Bottom_chatRoom_preView">
              <img src="${speakerImg}" alt="" />
              <div>
                <div class="chatNickName_preview">${speakerNickName}</div>
                <div class="chatMessage">${message}</div>
              </div>
              <div class="preViewAlarm"></div>
            </div>
            <div class="sideBar_Bottom_chatRoom_main">
              <div class="sideBar_Bottom_chatRoom_top">
                <span class="chatNickName">
                  <i class="fa-regular fa-envelope"></i></i><img src="${speakerImg}" alt="" />${speakerNickName}
                </span>
                <span><i class="fa-solid fa-minus"></i>&nbsp;</span>
              </div>
              <div class="sideBar_Bottom_chatRoom_middle">
                <div class="fullchatMessage leftChat">
                  <img src="${speakerImg}"" alt="" />
                  <div>${message}</div>
                  <div class="chatTimeStamp">${time}</div>
                </div>
              </div>
              <div id="chatForm">
                <input type="text" class="sendMSG" id="${speakerNickName}"/>
                <i class="fa-regular fa-comment-dots"></i>
              </div>
            </div>
          </div>
          `;

              // 태그 초기화
              chat();
              enterSend();
            }
            return;
          });
        });
      }
      return;
    }

    function toSpeaker(speaker, listener, message, speakerImg,time) {
      speakerImg = "../" + speakerImg;
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      chatRoomTag.forEach((el) => {
        if (el.dataset.who == listener) {
          el.querySelector(".sideBar_Bottom_chatRoom_middle").innerHTML += `
              <div class="fullchatMessage rightChat">
                <img src="${speakerImg}" alt="" />
                <div>${message}</div>
                <div class="chatTimeStamp">${time}</div>
              </div>
              `;
          //스크롤바 맨 아래로 내리기
          el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
            el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollHeight;

          // 미리보기창에 마지막문자 띄우기
          el.querySelector(".chatMessage").innerText = message;
        }
      });
      return;
    }
    chatDataBase(chatDataCallBack);
    chat();
    socketChat();
    enterSend();
</script>
</html>