<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../socket.io/socket.io.js"></script>
    <script
      src="https://kit.fontawesome.com/3264d39625.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- Tagify 해시태그 -->
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link
      href="https://unpkg.com/@yaireo/tagify/dist/tagify.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <link rel="stylesheet" href="style.css" />
  <body>
    <div id="mainPageTop">
      <div id="mainLogo">
        <a href="/"><img src="../images/mainlogo.png" alt="" /></a>
      </div>
      <ul id="mainPageNav">
        <li><a href="/community_hub">COMMUNITY</a></li>
        <!-- <li><a href="/minigame">MINI GAME</a></li> -->
      </ul>

      <ul id="mainPageLogo">
        <li>
          <a href="https://github.com/TeTedo/KeyboardWarrior.git"
            ><img
              class="mainPageLogo_githubLogo"
              src="http://rajlab.org/icons/github_white.png"
              alt="github"
          /></a>
        </li>
        <li>
          <a
            href="https://www.notion.so/Keyboard-Warrior-888a144aa79f437e8f726910c42617a8"
            ><img
              class="mainPageLogo_notionLogo"
              src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png"
              alt="notion"
          /></a>
        </li>
      </ul>
    </div>

    <!-- <div id="mainPageSearch">
      <div id="mainPageSearch_whole">
        <input type="text" id="mainPageSearch_searchBar" />
        <span>검색</span>
      </div>
    </div> -->
    <!-- 여기까지 탑 공통 부분 -->

    <!-- 사이드바 -->

    <div id="sideBar">
      <div id="sideBar_top">
        <div id="sideBar_top_sideBarBtn">
          <i class="fa-solid fa-arrow-left-long"></i>
        </div>
        <div id="sideBar_top_up">
          <ul>
            <li>팔로워</li>
            <li><%=data.loginedUserData.follower%></li>
          </ul>
          <ul>
            <li>팔로잉</li>
            <li class="followingAmount"><%=data.loginedUserData.following%></li>
          </ul>
        </div>
        <div id="sideBar_top_down">
          <div id="sideBar_top_down_left">
            <div><%= data.loginedUserData.user_id%></div>
            <div><%= data.loginedUserData.nick_name%></div>
          </div>
          <div id="sideBar_top_down_right">
            <div class="alarm">
              <span>99</span>
              <span>2</span>
            </div>
            <div>
              <a href="/join/modify/enterance"
                ><i class="fa-solid fa-gear"></i
              ></a>
              <a href="#"><i class="fa-solid fa-bell"></i></a>
              <a href="#"><i class="fa-solid fa-comments"></i></a>
              <a href="/logout"
                ><i class="fa-solid fa-right-from-bracket"></i
              ></a>
            </div>
            <a id="writBtn" href="/posting/<%=data.gameName%>">글쓰기</a>
          </div>
        </div>
        <div id="sideBar_top_profileImg">
          <a href="/profile/<%=data.loginedUserData.user_id%>"
            ><img src="<%= data.loginedUserData.profile_img%>" alt=""
          /></a>
        </div>
      </div>
      <!-- 채팅창 추가부분 -->
      <div class="sideBar_Bottom_chat"></div>
    </div>
    <div class="sideBarOpenBtn">
      <i class="fa-solid fa-arrow-right-long"></i>
    </div>

    <!-- 포스팅 시작 -->
    <div id="communityTitle">
      <div id="communityTitle_text">
        <span><%= data.title %></span>
      </div>
    </div>
    <div id="contents">
      <div id="contentsWrap">
        <div id="mainContent">
          <div id="mainContentWrap">
            <% data.postData.forEach(post=>{%>

            <div
              class="mainPost"
              name="post<%= post.id%>"
              data-userId="<%=post.User.user_id%>"
            >
              <div id="mainPost_top">
                <div id="mainPost_top_profileimg">
                  <a href="/profile/<%= post.User.user_id %>"
                    ><img src="../<%= post.User.profile_img %>"
                  /></a>
                </div>
                <div id="mainPost_top_userInfo">
                  <div id="mainPost_top_userInfo_nickName">
                    <%= post.User.nick_name %>
                  </div>
                  <div id="mainPost_top_userInfo_follwer">
                    <i class="fa-solid fa-user-group"></i>
                    <span class="followerAmount"
                      ><%= post.User.follower %></span
                    >
                  </div>
                </div>
                <div id="mainPost_top_follwingBtn">
                  <i
                    class="fa-solid fa-user-plus"
                    onclick="updateFollow(this)"
                  ></i>
                  <i
                    class="fa-solid fa-user-check"
                    onclick="updateFollow(this)"
                  ></i>
                  <i class="fa-solid fa-message"></i>
                  <a href="/community/<%= post.id%>/modify">수정하기</a>
                </div>
              </div>
              <div
                id="mainPost_middle"
                data-post_id="<%= post.id%>"
                onclick="{changeToPost(this)}"
              >
                <% if(post.image1){%>
                <img
                  id="mainPost_middle_img"
                  src="../<%=post.image1%>"
                  alt=""
                />
                <%}else{%>
                <div id="mainPost_middle_text"><%=post.text%></div>
                <%}%>
              </div>
              <div id="mainPost_bottom">
                <div id="hashTag">
                  <span>#</span>
                  <%post.hashtag_values.forEach(hashtag=>{%>
                  <span id="hashTag_Wrap">
                    <span class="hashTag_Box" onclick="update(this)">
                      <%=hashtag%>
                    </span>
                  </span>
                  <%})%>
                </div>
                <div id="mainPost_bottom_createdTime"><%=post.createdAt%></div>
                <div id="mainPost_bottom_sub">
                  <i class="fa-solid fa-heart" onclick="updateLike(this)"></i
                  ><span class="likeAmount"><%=post.like%></span>
                  <i class="fa-solid fa-comment"></i
                  ><span class="commentAmount"><%=post.comment%></span>
                </div>
              </div>
            </div>
            <%})%>
          </div>
        </div>
        <!-- 여기까지 메인포스팅 슬라이드 -->
        <div id="scrollHelper">
          <div id="scrollHelper_contents">
            <div id="scrollHelper_icon">
              <i class="fa-solid fa-arrows-left-right"></i>
            </div>
            <div id="scrollHelper_text">SCROLL UP!</div>
          </div>
        </div>
      </div>
    </div>
    <div id="searchBar">
      <label for="">검색창</label>
      <input type="text" list="tag_list" id="searchBar_input" />
      <datalist id="tag_list"> </datalist>
    </div>
  </body>
  <script src="community.js"></script>
  <script>
    // 데이터 가공 및 초기화
    let postData;
    function uploadData() {
      postData = "<%=JSON.stringify(data.postData)%>"
        .replaceAll("&#34;", '"')
        .replaceAll("\\", "@?@?");
      postData = JSON.parse(postData);
      postData.forEach((post, index) => {
        post.text = post.text
          .replaceAll(/&amp;/g, "&")
          .replaceAll(/&lt;/g, "<")
          .replaceAll(/&gt;/g, ">")
          .replaceAll("@?@?", "\\");

        //시간 가공
        post.createdAt = post.createdAt.replace(/...$/, "");
        document.querySelectorAll("#mainPost_bottom_createdTime")[
          index
        ].innerText = post.createdAt;
      });
    }
    uploadData();

    // 포스트 클릭시 상세페이지 이동 펑션
    function changeToPost(target) {
      location.href = `/post/<%=data.gameName%>/${target.dataset.post_id}`;
    }

    // 로그인유저가 해당글작성자 팔로우했는지 펑션
    const followingUsersArr = JSON.parse(
      "<%=JSON.stringify(data.followingUsers)%>".replaceAll("&#34;", '"')
    );
    const followingIdsArr = followingUsersArr.map((each) => each.following_id);
    function checkIsFollow() {
      const allMainPosts = document.querySelectorAll(".mainPost");
      allMainPosts.forEach((post) => {
        const postUserId = post.dataset.userid;
        if (followingIdsArr.includes(postUserId)) {
          post.querySelector(".fa-user-plus").style.display = "none";
        } else {
          post.querySelector(".fa-user-check").style.display = "none";
        }
      });
    }
    checkIsFollow();

    // 팔로우하기 펑션
    function updateFollow(target) {
      // 팔로우 안되있을때
      if (target.classList.contains("fa-user-plus")) {
        target.style.display = "none";
        target.parentNode.querySelector(".fa-user-check").style.display =
          "block";
        const following =
          target.parentNode.parentNode.parentNode.dataset.userid;

        target.parentNode.parentNode.querySelector(".followerAmount")
          .innerHTML++;

        document.querySelector("#sideBar_top_up .followingAmount").innerHTML++;

        $.ajax({
          url: "/follow",
          type: "post",
          data: {
            follow: "true",
            follower: "<%=data.loginedUserData.user_id%>",
            following,
          },
        });
      }
      // 팔로우 취소
      else {
        if (confirm("정말 팔로우를 취소하시겠습니까?")) {
          target.style.display = "none";
          target.parentNode.querySelector(".fa-user-plus").style.display =
            "block";
          const following =
            target.parentNode.parentNode.parentNode.dataset.userid;

          target.parentNode.parentNode.querySelector(".followerAmount")
            .innerHTML--;

          document.querySelector("#sideBar_top_up .followingAmount")
            .innerHTML--;
          $.ajax({
            url: "/follow",
            type: "post",
            data: {
              follow: "false",
              follower: "<%=data.loginedUserData.user_id%>",
              following,
            },
          });
        }
      }
    }

    // 로그인유저가 해당글 좋야요 했는지 펑션
    function checkIsLiked() {
      postData.forEach((post) => {
        let isLiked = false;
        if (post.CommunityPostLikes) {
          post.CommunityPostLikes.forEach((el) => {
            if (el.user_id == "<%=data.loginedUserData.user_id%>")
              isLiked = true;
          });
        }
        if (isLiked) {
          const targetHeart = document
            .querySelector(`.mainPost[name=post${post.id}]`)
            .querySelector(".fa-heart");
          targetHeart.classList.add("liked");
        }
      });
    }
    checkIsLiked();

    // 좋아요누르기 펑션
    function updateLike(target) {
      const post_id =
        target.parentNode.parentNode.parentNode.querySelector(
          "#mainPost_middle"
        ).dataset.post_id;
      if (target.classList.contains("liked")) {
        target.classList.remove("liked");
        target.parentNode.querySelector(".likeAmount").innerHTML--;
        $.ajax({
          url: `/community/${post_id}/like`,
          type: "post",
          data: {
            userLike: "false",
            userId: "<%=data.loginedUserData.user_id%>",
          },
        });
      } else {
        target.classList.add("liked");
        target.parentNode.querySelector(".likeAmount").innerHTML++;
        $.ajax({
          url: `/community/${post_id}/like`,
          type: "post",
          data: {
            userLike: "true",
            userId: "<%=data.loginedUserData.user_id%>",
          },
        });
      }
    }

    // 수정하기 버튼 생성
    function makeModifyBtn() {
      const mainPostsArr = document.querySelectorAll(".mainPost");
      mainPostsArr.forEach((post) => {
        if (
          "<%= data.loginedUserData.nick_name %>" ==
          post.querySelector("#mainPost_top_userInfo_nickName").innerText
        ) {
          post
            .querySelectorAll("#mainPost_top_follwingBtn > i")
            .forEach((elem) => {
              elem.style.display = "none";
            });
          post.querySelector("#mainPost_top_follwingBtn > a").style.display =
            "flex";
        }
      });
    }
    window.onload = () => {
      makeModifyBtn();
      // 텍스트만 있는 포스팅 텍스트 고쳐서 넣어주기
      const postMiddleText = document.querySelectorAll(
        "#mainPost_middle #mainPost_middle_text"
      );
      postMiddleText.forEach((text) => {
        text.innerHTML = text.innerHTML
          .replaceAll(/&amp;/g, "&")
          .replaceAll(/&lt;/g, "<")
          .replaceAll(/&gt;/g, ">");
      });

      // postData.forEach((post, index) => {
      //     post.text = post.text
      //         .replaceAll(/&amp;/g, "&")
      //         .replaceAll(/&lt;/g, "<")
      //         .replaceAll(/&gt;/g, ">");
      //     postMiddleText[index].innerHTML = post.text;
      // });

      // 검색창 드롭리스트에 해시태그 추가
      let hashtagArr = [];
      postData.forEach((data) => {
        data.hashtag_values.forEach((hashtag) => {
          if (!hashtagArr.includes(hashtag)) {
            hashtagArr.push(hashtag);
          }
        });
      });
      hashtagArr.forEach((hashtag) => {
        tag_list.innerHTML += `<option value=${hashtag}></option>`;
      });
    };
  </script>
  <!-- <script>
        const arr = ["happy", "hi"];
        const jsonArr = JSON.stringify(arr);
        const stringArr = '["happy", "hi"]';

        console.log(JSON.parse(jsonArr));
        console.log(JSON.parse(stringArr));
    </script> -->

  <script>
    function chatDataBase(callback) {
      //데이터베이스에 있는 채팅 창 만들어주기
      const chatTag = document.querySelector(".sideBar_Bottom_chat");
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      let chatLog = "<%=JSON.stringify(chatObj)%>";
      chatLog = chatLog.replaceAll("&#34;", '"');
      chatLog = chatLog.replaceAll("\\", "/");
      chatLog = JSON.parse(chatLog);
      if (!chatLog) return;
      chatLog.forEach((el, index) => {
        //만들어져있는 채팅방 있는지 확인
        // 상대방 아이디 받아오기
        const opponent = el.speaker || el.listener;
        let checkRoom = false;
        //만들어져있으면 checkRoom에 true주기
        chatRoomTag.forEach((elem) => {
          if (elem.dataset.who == opponent) {
            return (checkRoom = true);
          }
        });
        //만들어져있으면 return
        if (checkRoom) return;

        // 안만들어져있으면 만들기
        chatTag.innerHTML += `
            <div class="sideBar_Bottom_chatRoom" data-who="${opponent}">
              <div class="sideBar_Bottom_chatRoom_preView" style="display: flex;">
                <img src="${el.profile_img}" alt="" />
                <div>
                  <div class="chatNickName_preview">${el.nick_name}</div>
                  <div class="chatMessage"></div>
                </div>
                <div class="preViewAlarm"></div>
              </div>
              <div class="sideBar_Bottom_chatRoom_main" style="display: none;">
                <div class="sideBar_Bottom_chatRoom_top">
                  <span class="chatNickName">
                    <i class="fa-regular fa-envelope"></i></i><img src="${el.profile_img}" alt="" />${el.nick_name}
                  </span>
                  <span><i class="fa-solid fa-minus"></i>&nbsp;</span>
                </div>
                <div class="sideBar_Bottom_chatRoom_middle"></div>
                <div id="chatForm">
                  <input type="text" class="sendMSG" id="${el.nick_name}"/>
                  <i class="fa-regular fa-comment-dots"></i>
                </div>
              </div>
            </div>
            `;
        //태그 받아온거 초기화
        chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      });

      //만들어진 채팅방에 콜백으로 값 넣기
      callback(chatLog);
    }

    function chatDataCallBack(chatLog) {
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      // 내 프로필사진
      const profile_img = "<%= data.loginedUserData.profile_img%>";
      chatLog.forEach((el) => {
        //시간
        let time = new Date(el.createdAt);
        if (time.getMinutes() < 10) {
          time = `${time.getHours()}:0${time.getMinutes()}`;
        } else {
          time = `${time.getHours()}:${time.getMinutes()}`;
        }
        const opponent = el.speaker || el.listener;
        chatRoomTag.forEach((elem) => {
          // 상대방과의 채팅방 찾기
          if (elem.dataset.who == opponent) {
            //상대방이 speaker일떄
            if (opponent == el.speaker) {
              elem.querySelector(".chatMessage").innerText = el.message;
              elem.querySelector(
                ".sideBar_Bottom_chatRoom_middle"
              ).innerHTML += `
            <div class="fullchatMessage leftChat">
              <img src="${el.profile_img}" alt="" />
              <div>${el.message}</div>
              <div class="chatTimeStamp">${time}</div>
            </div>
            `;
            }
            //상대방이 listener 일때
            else {
              elem.querySelector(".chatMessage").innerText = el.message;
              elem.querySelector(
                ".sideBar_Bottom_chatRoom_middle"
              ).innerHTML += `
            <div class="fullchatMessage rightChat">
              <img src="${profile_img}" alt="" />
              <div>${el.message}</div>
              <div class="chatTimeStamp">${time}</div>
            </div>
            `;
            }
          }
        });
      });
    }
    function chat() {
      const chatTag = document.querySelector(".sideBar_Bottom_chat");
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");

      //채팅이미지 누르면 채팅창 나오게 하기
      document.querySelector(".fa-comments").onclick = function () {
        //채팅창 여닫이
        chatTag.classList.toggle("chatOn");
        // 열때 알람 안보이게하기
        if (chatTag.classList.contains("chatOn")) {
          // display none으로 하면 위치가 바뀜
          document.querySelector(
            ".alarm > span:nth-child(2)"
          ).style.visibility = "hidden";
          document.querySelector(".alarm > span:nth-child(2)").innerText = 0;
        }
      };
      // 채팅관련
      chatRoomTag.forEach((el, index) => {
        //채팅창 클릭시 채팅창 커지고 데이터 담기
        el.querySelector(".sideBar_Bottom_chatRoom_preView").onclick =
          function () {
            el.querySelector(".sideBar_Bottom_chatRoom_preView").style.display =
              "none";
            el.querySelector(".sideBar_Bottom_chatRoom_main").style.display =
              "block";
            el.querySelector(".sendMSG").focus();
            // 스크롤바 젤 아래로 내리기
            el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
              el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollHeight;
          };
        // - 버튼 누르면 미리보기창 띄우기
        el.querySelector(".fa-minus").onclick = function () {
          el.querySelector(".sideBar_Bottom_chatRoom_preView").style.display =
            "flex";
          el.querySelector(".sideBar_Bottom_chatRoom_main").style.display =
            "none";
        };
      });

      //메인포스트 채팅버튼 누르면 채팅창 생성 및 데이터 받아오기
      const mainPost = document.querySelectorAll(".mainPost");
      const sideBar = document.querySelector("#sideBar");
      mainPost.forEach((el, index) => {
        //메인포스트에 달려있는 채팅버튼 누르면 사이드바에 넣고 사이드바 닫혀있었으면 열어주기
        const chatBtn = el.querySelector(".fa-message");
        const writerName = el.querySelector(
          "#mainPost_top_userInfo_nickName"
        ).innerText;
        const writer = el.dataset.user_id;
        const writerImg = el.querySelector(
          "#mainPost_top_profileimg > a>img"
        ).src;
        chatBtn.onclick = function () {
          sideBar.style.transform = "translate(0px)";
          chatTag.classList.add("chatOn");
          // 기존 채팅창이 있는지 없는지 확인
          let checkRoomBool = false;
          chatRoomTag.forEach((elem) => {
            const checkRoom = elem.querySelector(".chatNickName").innerText;
            const checkRoomPreview = elem.querySelector(
              ".chatNickName_preview"
            ).innerText;
            if (checkRoom == writerName || checkRoomPreview == writerName) {
              // 게시글작성자와 기존있던 채팅방 닉네임 일치하면 거기로 focus하고 sideBar 열어주기
              const messageInput = elem.querySelector("#chatForm > input");
              elem.querySelector(
                ".sideBar_Bottom_chatRoom_preView"
              ).style.display = "none";
              elem.querySelector(
                ".sideBar_Bottom_chatRoom_main"
              ).style.display = "block";
              messageInput.focus();
              checkRoomBool = true;
              //스크롤바 맨 아래로 내리기
              elem.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
                elem.querySelector(
                  ".sideBar_Bottom_chatRoom_middle"
                ).scrollHeight;
            }
          });
          //기존 채팅방 없을시
          if (!checkRoomBool) {
            chatTag.innerHTML += `
            <div class="sideBar_Bottom_chatRoom" data-who="${writer}">
              <div class="sideBar_Bottom_chatRoom_preView" style="display: none;">
                <img src="${writerImg}" alt="" />
                <div>
                  <div class="chatNickName_preview">${writerName}</div>
                  <div class="chatMessage"></div>
                </div>
                <div class="preViewAlarm"></div>
              </div>
              <div class="sideBar_Bottom_chatRoom_main" style="display: block;">
                <div class="sideBar_Bottom_chatRoom_top">
                  <span class="chatNickName">
                    <i class="fa-regular fa-envelope"></i></i><img src="${writerImg}" alt="" />${writerName}
                  </span>
                  <span><i class="fa-solid fa-minus"></i>&nbsp;</span>
                </div>
                <div class="sideBar_Bottom_chatRoom_middle"></div>
                <div id="chatForm">
                  <input type="text" class="sendMSG" id="${writerName}"/>
                  <i class="fa-regular fa-comment-dots"></i>
                </div>
              </div>
            </div>
            `;
            // 미리보기 지우고 메인채팅창 띄우기
            // document.querySelector();
            // 입력창에 focus해주기
            const temp = document.querySelector(`#${writerName}`);
            temp.focus();

            // 받아온 tag 초기화위해서 함수 실행
            chat();
            // 엔터키로 메시지보내기
            enterSend();
          }
        };
      });
    }
    function enterSend() {
      const socket = io.connect();
      const chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      chatRoomTag.forEach((el) => {
        el.onkeydown = function (e) {
          el.querySelector(".sendMSG").onkeyup = function (e) {
            if (e.keyCode == 13) {
              if (el.querySelector(".sendMSG").value != "") {
                // 서버로 누가 누구한테 어떤걸 보냈는지 전송
                const speaker = "<%= data.loginedUserData.user_id%>";
                const listener = el.dataset.who;
                const message = el.querySelector(".sendMSG").value;
                socket.emit("chat", speaker, listener, message);
                el.querySelector(".sendMSG").value = "";
                el.querySelector(".sendMSG").focus();
              }
            }
          };
        };
      });
    }

    function socketChat() {
      //채팅창 관련 함수
      const socket = io.connect();
      // 메시지 보내기
      // 개인 방에 넣어주기
      socket.emit("login", "<%=data.loginedUserData.user_id%>");
      const sideBar = document.querySelector("#sideBar");
      //클릭하면 메시지보내기
      sideBar.onclick = function (e) {
        if (e.target.classList.contains("fa-comment-dots")) {
          // 제이쿼리로 부모를 잡음 => 부모요소 전체를 잡기 위함
          const parent = $(e.target).parents()[2];
          if (parent.querySelector(".sendMSG").value != "") {
            // 서버로 누가 누구한테 어떤걸 보냈는지 전송
            const speaker = "<%= data.loginedUserData.user_id%>";
            const listener = parent.dataset.who;
            const message = parent.querySelector(".sendMSG").value;
            socket.emit("chat", speaker, listener, message);
            parent.querySelector(".sendMSG").value = "";
            parent.querySelector(".sendMSG").focus();

            //스크롤바 맨 아래로 내리기
            parent.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
              parent.querySelector(
                ".sideBar_Bottom_chatRoom_middle"
              ).scrollHeight;
          }
        }
      };

      //엔터키로 메시지 보내기
      enterSend();
      //받는사람일때 받는곳
      socket.on("toListener", toListener);
      //내가 보낸사람일때 서버로부터 받는곳
      socket.on("toSpeaker", toSpeaker);
    }

    // socket 메시지 받는 함수
    function toListener(
      speaker,
      listener,
      message,
      speakerImg,
      speakerNickName,
      time
    ) {
      speakerImg = "../" + speakerImg;
      //채팅 알람 숫자 올리기
      const alarm = document.querySelector(".alarm > span:nth-child(2)");
      alarm.innerText = Number(alarm.innerText) + 1;
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      if (chatRoomTag.length == 0) {
        document.querySelector(".sideBar_Bottom_chat").innerHTML += `
            <div class="sideBar_Bottom_chatRoom" data-who="${speaker}">
              <div class="sideBar_Bottom_chatRoom_preView">
                <img src="${speakerImg}" alt="" />
                <div>
                  <div class="chatNickName_preview">${speakerNickName}</div>
                  <div class="chatMessage">${message}</div>
                </div>
                <div class="preViewAlarm"></div>
              </div>
              <div class="sideBar_Bottom_chatRoom_main">
                <div class="sideBar_Bottom_chatRoom_top">
                  <span class="chatNickName">
                    <i class="fa-regular fa-envelope"></i></i><img src="${speakerImg}" alt="" />${speakerNickName}
                  </span>
                  <span><i class="fa-solid fa-minus"></i>&nbsp;</span>
                </div>
                <div class="sideBar_Bottom_chatRoom_middle">
                  <div class="fullchatMessage leftChat">
                    <img src="${speakerImg}"" alt="" />
                    <div>${message}</div>
                    <div class="chatTimeStamp">${time}</div>
                  </div>
                </div>
                <div id="chatForm">
                  <input type="text" class="sendMSG" id="${speakerNickName}"/>
                  <i class="fa-regular fa-comment-dots"></i>
                </div>
              </div>
            </div>
            `;

        // 태그 초기화
        chat();
        enterSend();
      } else {
        //채팅방 있는지 확인
        let whoArr = [];
        chatRoomTag.forEach((el) => {
          whoArr.push(el.dataset.who);
        });
        chatRoomTag.forEach((el) => {
          //채팅방 있을떄
          new Promise((resolve, reject) => {
            if (el.dataset.who == speaker) {
              el.querySelector(".sideBar_Bottom_chatRoom_middle").innerHTML += `
          <div class="fullchatMessage leftChat">
            <img src="${speakerImg}"" alt="" />
            <div>${message}</div>
            <div class="chatTimeStamp">${time}</div>
          </div>
          `;
              //스크롤바 맨 아래로 내리기
              el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
                el.querySelector(
                  ".sideBar_Bottom_chatRoom_middle"
                ).scrollHeight;

              // 미리보기창에 마지막문자 띄우기
              el.querySelector(".chatMessage").innerText = message;
              return;
            } else {
              resolve("채팅방 없음");
            }
          }).then(() => {
            //채팅방 없을때
            if (whoArr.indexOf(speaker) == -1) {
              document.querySelector(".sideBar_Bottom_chat").innerHTML += `
          <div class="sideBar_Bottom_chatRoom" data-who="${speaker}">
            <div class="sideBar_Bottom_chatRoom_preView">
              <img src="${speakerImg}" alt="" />
              <div>
                <div class="chatNickName_preview">${speakerNickName}</div>
                <div class="chatMessage">${message}</div>
              </div>
              <div class="preViewAlarm"></div>
            </div>
            <div class="sideBar_Bottom_chatRoom_main">
              <div class="sideBar_Bottom_chatRoom_top">
                <span class="chatNickName">
                  <i class="fa-regular fa-envelope"></i></i><img src="${speakerImg}" alt="" />${speakerNickName}
                </span>
                <span><i class="fa-solid fa-minus"></i>&nbsp;</span>
              </div>
              <div class="sideBar_Bottom_chatRoom_middle">
                <div class="fullchatMessage leftChat">
                  <img src="${speakerImg}"" alt="" />
                  <div>${message}</div>
                  <div class="chatTimeStamp">${time}</div>
                </div>
              </div>
              <div id="chatForm">
                <input type="text" class="sendMSG" id="${speakerNickName}"/>
                <i class="fa-regular fa-comment-dots"></i>
              </div>
            </div>
          </div>
          `;

              // 태그 초기화
              chat();
              enterSend();
            }
            return;
          });
        });
      }
      return;
    }

    function toSpeaker(speaker, listener, message, speakerImg, time) {
      speakerImg = "../" + speakerImg;
      let chatRoomTag = document.querySelectorAll(".sideBar_Bottom_chatRoom");
      chatRoomTag.forEach((el) => {
        if (el.dataset.who == listener) {
          el.querySelector(".sideBar_Bottom_chatRoom_middle").innerHTML += `
              <div class="fullchatMessage rightChat">
                <img src="${speakerImg}" alt="" />
                <div>${message}</div>
                <div class="chatTimeStamp">${time}</div>
              </div>
              `;
          //스크롤바 맨 아래로 내리기
          el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollTop =
            el.querySelector(".sideBar_Bottom_chatRoom_middle").scrollHeight;

          // 미리보기창에 마지막문자 띄우기
          el.querySelector(".chatMessage").innerText = message;
        }
      });
      return;
    }
    chatDataBase(chatDataCallBack);
    chat();
    socketChat();
    enterSend();
  </script>
</html>
